 #a{
    text-align: center;
    background-position: center;
    text-transform: uppercase;
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/406014/pexels-photo-406014.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#b{
    background-color: red;
    text-transform: capitalize;
    word-spacing: 15px;
    height: 100vh;
    background-size: contain; 
    background-image: url("https://images.pexels.com/photos/45201/kitty-cat-kitten-pet-45201.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-repeat: no-repeat;
    padding-left: 55%;
    padding-right: 50px;
    padding-top: 20%;
    background-attachment: fixed; 
   
 }
#c{
    background-color:black;
    color: white;
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/333083/pexels-photo-333083.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed; 
    padding-top: 10%;
    padding-right: 75%;
    padding-left: 20px;
    text-transform: capitalize;
    word-spacing: 15px;
    background-position: right;
}
#d{
    background-color: orange;
    color: white;
    background-image: url("https://images.pexels.com/photos/2674052/pexels-photo-2674052.jpeg?auto=compress&cs=tinysrgb&w=600");
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20%;
    padding-left: 30%;
    padding-right: 20%;
} 
